{% for message in messages %}
<div class="{% if message.tags %}{{ message.tags }}{% endif %} bg-red-200 border-t-4 rounded-b px-4 py-3 shadow-md mt-2" role="alert">
    <div class="flex">
        <div class="py-1">
            {% if message.tags == 'success' %}
                <svg class="fill-current h-6 w-6 text-teal-500 mr-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M2.93 17.07A10 10 0 1 1 17.07 2.93 10 10 0 0 1 2.93 17.07zm12.73-1.41A8 8 0 1 0 4.34 4.34a8 8 0 0 0 11.32 11.32zM9 11V9h2v6H9v-4zm0-6h2v2H9V5z"/></svg>
            {% elif message.tags == 'error' %}
                <svg class="fill-current h-6 w-6 text-red-500 mr-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M10 2a8 8 0 100 16 8 8 0 000-16zm1 13h-2v-2h2v2zm0-4h-2V7h2v4z"/></svg>
            {% endif %}
        </div>
        <div>
            <p class="font-bold {% if message.tags == 'error' %}text-red-700{% else %}text-teal-900{% endif %}">{{ message.tags|capfirst }}!</p>
            <p class="text-sm {% if message.tags == 'error' %}text-red-700{% else %}text-teal-900{% endif %}">{{ message }}</p>
        </div>
    </div>
</div>
{% endfor %}